.custom-button {
    width: auto;
    height: 50px;
    border-radius: 3px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-family: "Open Sans Condensed";
    font-weight: bolder;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.primary {
    background-color: #333;
    &:hover {
        background-color: #aaaa;
    }
}

.secondary {
    background-color: #c9510c;
    &:hover {
        background-color: #bd2c00;
    }
}

.small {
    width: auto;
    height: 30px;
    background-color: #233142;
    padding: 0 5px 0 5px;
    margin-right: 4px;
    font-size: 0.5rem;
    line-height: normal;
    color: #ccc;
    align-items: center;
    outline-color: #fc8d59;
    &:hover {
        background-color: gray;
    }
}
.small:active {
    background-color: green;
}
