@import "../../style/_variables.scss";

.profile-container {
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    width: 1200px;
    .user {
        display: block;
        width: 50%;
        .image-container {
            padding-top: 30px;
            text-align: center;
            img {
                border-radius: 50%;
                border: 3px solid #fc8d59;
            }
        }

        h4 {
            font-family: "Molengo";
            font-size: 1.5rem;
            color: gray;
            text-align: center;
        }
        h5 {
            text-transform: uppercase;
            font-size: 0.9rem;
            letter-spacing: 0.33;
            text-align: center;
        }
        .following-information-container {
            display: flex;
            justify-content: center;
            p {
                margin: 10px;
            }
            .star-container {
                margin: auto 0;
            }
        }
        .button-container {
            padding-top: 25px;
            display: flex;
            justify-content: center;
        }
    }
    .repos-container {
        display: block;
        width: 50%;
        .information {
            padding: 20px 5px 5px 10px;
            margin-bottom: 20px;
            border-bottom: 1px solid gray;
            h4 {
                color: #001f3f;
                font-size: 0.9rem;
                text-transform: uppercase;
                margin-left: 15px;
            }
            p {
                font-size: 1.1rem;
                letter-spacing: 1.5px;
                font-family: "Molengo";
            }
        }
        .repos-list {
            display: block;
            overflow: scrollable;
            height: 500px;
            .repo-heading {
                display: flex;
                justify-content: space-between;
            }
            .repo-item {
                border-bottom: 1px solid gray;
                padding-bottom: 14px;
                h2 {
                    margin-left: 15px;
                }
                p {
                    margin-left: 15px;
                }
                .dot {
                    margin-left: 15px;
                    margin: auto 0 auto 15px;
                    height: 12px;
                    width: 12px;
                    background-color: #bbb;
                    border-radius: 50%;
                }
            }
            h4 {
                margin-left: 15px;
                text-transform: uppercase;
                font-size: 0.9rem;
                color: #001f3f;
            }
        }
    }
}
