@import "../../style/_colors.scss";

.alert {
    font-size: 1.1rem;
    position: absolute;
    margin-top: 15px;
    color: $alert;
    font-family: "Ubuntu";
    text-transform: uppercase;
    font-weight: 600;
}
