@import "../../style/_variables.scss";
@import "../../style/_colors.scss";

.scroll-box {
    margin: 0 auto;
    padding-top: 30px;
    font-size: 1.2rem;
    position: relative;
    height: 120px;
    .small-info {
        font-size: 0.85rem;
        letter-spacing: 2px;
    }
}

.animate-scroll {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    span {
        display: block;
        width: 20px;
        height: 20px;
        border-bottom: 1px solid $gray;
        border-right: 1px solid $gray;
        transform: rotate(45deg);
        animation: animate 2s infinite;
        margin: -10px;
    }
}
.animate-scroll span:nth-child(2) {
    animation-delay: -0.2s;
}

.animate-scroll span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}
