.user-card {
    display: block;
    max-width: 297px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    list-style: none;
    flex: 1 0 calc(25% - 18px);
    margin: 9px;
    .user-info {
        display: flex;
        justify-content: space-around;
        margin: 8px;
        img {
            border-radius: 50%;
            width: 100px;
            height: 100px;
        }
        h3 {
            font-size: 1.5rem;
            letter-spacing: 0.15;
        }
    }
    .github-link {
        padding: 25px 0;
        display: flex;
        justify-content: center;
    }
}
