a {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-left: 15px;
}

p {
	margin-left: 15px;
}

.flex-start {
	display: flex;
	justify-content: flex-start;
}

.flex-between {
	display: flex;
	justify-content: space-between;
}

.github-logo {
	height: 40px;
	width: 40px;
	margin: auto 0;
	margin-left: 10px;
}
