a {
	text-decoration: none;
	color: #232323;
}

.flex-start {
	display: flex;
	justify-content: start;
}

.element::-webkit-scrollbar {
	width: 0 !important;
}

.element {
	overflow: -moz-scrollbars-none;
}

.element {
	-ms-overflow-style: none;
}
