@import "../../style/_variables.scss";

.user-preview {
    width: 1200px;
    display: block;
    margin: 0 auto;

    .form-container {
        display: flex;
        justify-content: center;
        .form {
            width: 45%;
            color: black;
            margin-right: 30px;
        }
        .button {
            margin: auto 0;
        }
    }

    .users-container {
        display: flex;
        flex-basis: 1;
        flex-flow: row;
        .user-profile {
            display: flex;
            flex-flow: column;
            align-items: center;
            width: 300px;
        }
    }

    .profile-image {
        border-radius: 50%;
        width: 120px;
        height: 120px;
    }

    .link {
        margin-left: 20px;
        color: black;
    }
}
