@import "../../style/_variables.scss";

.user-preview {
    width: 1260px;
    display: block;
    margin: 0 auto;

    .form-container {
        display: flex;
        justify-content: center;
        .form {
            width: 45%;
            color: black;
            margin-right: 30px;
        }
        .button {
            margin: auto 0;
        }
    }

    .users-container {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
    }
}
